<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /fasichat/
    
    # Ne pas reécrire les fichiers réels ou répertoires
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
